/* Reset default styles */
* {
  margin: 0;
  padding: 0;
}




/* Header styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  transition: ease-in-out 0.3s;

  background: #101720;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  /* webkit-backdrop-filter: blur(10px); - Test Safari compatibility 🤔*/
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.header.header--hidden {
  top: -100px;
}

html {
  background-color: #ffffff;
}


/* Body styles */
main {
  padding-top: 45px;
}

.current-page {
  cursor: default;
  font-weight: 500;
  color: #ffffff;
  transition: transform 0.4s ease;
}
.current-page:hover {
  transform: translateY(-2px);
}

body {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  background: white;
  min-height: 100vh;
  margin: 0; 

  opacity: 0; /*Start hidden for transition*/
  transition: opacity 0.3s ease-in; /*Smooth transition for visibility change */
}

body.loaded {
  opacity: 1; /*Fade in when loaded*/
}

a:link {
  color: #ffffff;
  text-decoration: none;
  transition: transform 0.4s ease;   /* if put on hover, snaps OFF */
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
  transform: translateY(-2px);
}

a:active {
  color: #ffffff;
  text-decoration: none;
}

.logo {
  color: #ffffff;
}

.intro {
  padding: 0;
  position: relative; /* Relative for absolute children */
  min-height: 700px;
  height: 90vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centers the content wrapper */
  position: relative;
  height: 90vh;
  width: 100%;
  min-height: 700px;
}
.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers hero-text */
}
.hero-text {
  background-color: white;
  color: #101720;
  padding-bottom: 2vh;
  font-size: 1.5rem;
  cursor: default;
  display: inline-block;
}
.hero-text h1 strong {
  background: linear-gradient(45deg, #6b62ec, #5076ff, #3ac8fb);
  background-clip: text;
  color: transparent;
  font-weight: 700;
  z-index: 1;
}
.hero-text h1 {
  font-weight: 500;
  z-index: 1;
}

/* Skill tags styles */
.skill-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; /* Aligns tags to left of container */
  align-items: center;
  padding-top: 1rem;
  gap: 0.6rem;
  width: 100%;
}
.skill {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(106, 98, 236, 0.2);
  border-radius: 4px;
  padding: 0.3rem 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  transition: all 0.2s ease;
  will-change: transform, box-shadow; /* expensive */
}
.skill:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  background: rgba(106, 98, 236, 0.12);
  transform: translateY(-2px);
  cursor: default;
}
.T3 {
  background: rgba(45, 105, 255, 0.22);
  color: #6b62ec;
}
.T2 {
  background: rgba(100, 140, 230, 0.15); 
  color: #665fc5;
}
.T1 {
  background: rgba(120, 120, 140, 0.15);
  color: rgb(89, 93, 146);
}